/* Import a custom font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    /* A dark background to make the animated tiles visible */
    background-color: #0d1117; 
    color: #ffffff; /* Set a default text color for the body */
}

.container {
    max-width: 960px;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}